/* General application style layout */
html,
body {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

body,
#branding .logo,
#page {
  background-color: #F3F3F3;
}
#branding {
  background-color: #E1E1E1;
  padding: 0;
  overflow: visible;
}
#branding .logo {
  width: 300px;
  padding-top: 20px;
  text-align: center;
}
#branding .branding-main {
  padding: 15px;
}

#page {
  margin: 0;
  padding: 0;
}

#content > .block {
  padding-left: 40px;
  padding-right: 40px;
}

#block-system-main {
  overflow-y: auto;
}

/* Flexible box layout classes */
.flex-container,
.flex-container.block > .contextual-links-region,
.flex-container-views,
.flex-container-vbo > .view-content,
.flex-container-vbo > .view-content > .vbo-views-form,
.flex-container-vbo > .view-content > .vbo-views-form > form,
.flex-container-vbo > .view-content > .vbo-views-form > form > div {
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21+ */
  display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

  -webkit-box-orient: vertical;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  -moz-box-orient: vertical;      /* OLD: Firefox (buggy) */
  -ms-flex-direction: column;     /* MID: IE 10 */
  -webkit-flex-direction: column; /* NEW, Chrome 21+ */
  flex-direction: column;         /* NEW: Opera 12.1, Firefox 22+ */

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

  margin: 0;
}

.flex-row,
.flex-row.block > .contextual-links-region {
  -webkit-box-orient: horizontal;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  -moz-box-orient: horizontal;      /* OLD: Firefox (buggy) */
  -ms-flex-direction: row;     /* MID: IE 10 */
  -webkit-flex-direction: row; /* NEW, Chrome 21+ */
  flex-direction: row;         /* NEW: Opera 12.1, Firefox 22+ */
}

.flex-container > .flex-fill,
.flex-container.block > .contextual-links-region,
.flex-container.block > .contextual-links-region > .flex-fill,
.flex-container-views > .view-content,
.flex-container-vbo > .view-content > .vbo-views-form,
.flex-container-vbo > .view-content > .vbo-views-form > form,
.flex-container-vbo > .view-content > .vbo-views-form > form > div,
.flex-container-vbo > .view-content > .vbo-views-form > form > div > .view-content-list {
  -webkit-box-flex: 1;  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  -moz-box-flex: 1;     /* OLD: Firefox (buggy) */
  -ms-flex: 1;          /* MID: IE 10 */
  -webkit-flex: 1;      /* NEW, Chrome 21+ */
  flex: 1;              /* NEW: Opera 12.1, Firefox 22+ */

 	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

  overflow-y: auto;
}

.flex-container.block.flex-row > .flex-fill,
.flex-container.block.flex-row > .contextual-links-region,
.flex-container.block.flex-row > .contextual-links-region > .flex-fill {
  overflow-y: visible;
  overflow-x: auto;
}

/* Panels layout styling */
.panel-sidebar .sidebar {
  border-top: 30px solid #E1E1E1;
  background-color: #7B7B7B;
  color: #fff;
}
.panel-sidebar .sidebar a {
  color: #fff;
}
.panel-sidebar .sidebar h2 {
  font-size: 1.1em;
  background: #626262;
  padding: 0.3em 0.8em;
}

.panel-sidebar .sidebar > .highlight {
  background: #83D4E3;
  padding-top: 15px;
  padding-bottom: 15px;
}
.panel-sidebar .sidebar > .highlight + .highlight {
  padding-top: 0;
}

/* Primary Navigation */
ul.primary {
  text-transform: none;
  height: 2.4em;
  font-size: 1em;
}
ul.primary li a:link,
ul.primary li a.active,
ul.primary li a:active,
ul.primary li a:visited,
ul.primary li a:hover,
ul.primary li.active a {
  background: none;
  border: none;
  height: 3em;
  font-weight: normal;

  /* Reset border radius */
  -webkit-border-radius: 0;
          border-radius: 0;
}
ul.primary li.active a,
ul.primary li.active a.active,
ul.primary li.active a:active,
ul.primary li.active a:visited {
  background: #F3F3F3;
  color: #0F7182;
  font-weight: bold;

  -webkit-box-shadow: 2px 2px 2px 0px #D5D5D5;
          box-shadow: 2px 2px 2px 0px #D5D5D5;
}
ul.primary li a:hover {
  background: #FFFFFF;
  color: #0F7182;

  -webkit-box-shadow: 2px 2px 2px 0px #D5D5D5;
          box-shadow: 2px 2px 2px 0px #D5D5D5;
}

/* Secondary Navigation */
ul.secondary {
  background: none;
}

/* Form Styling */
input.form-submit,
a.button {
  /* Reset border radius */
  -webkit-border-radius: 0;
          border-radius: 0;

  background: #8DC63F;
  font-weight: bold;
  padding: 3px 15px;
  border: 1px solid #7A9E49;
  border-color: #7A9E49 #7E9163 #739446 768B5A;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.33, #8EC63F),
    color-stop(1, #79AC37)
  );
  background-image: -webkit-linear-gradient(top, #8EC63F 33%, #79AC37 100%);
  background-image:    -moz-linear-gradient(top, #8EC63F 33%, #79AC37 100%);
  background-image:     -ms-linear-gradient(top, #8EC63F 33%, #79AC37 100%);
  background-image:      -o-linear-gradient(top, #8EC63F 33%, #79AC37 100%);
  background-image:         linear-gradient(top, #8EC63F 33%, #79AC37 100%);
}
input.form-submit,
a.button,
a.button:link,
a.button:visited,
a.button:hover,
a.button:active {
  color: #fff;
}

.vertical-tabs .form-type-textfield input {
  max-width: 100%;
  width: auto;
}

/* jQuery UI Tabs */
.ui-tabs {
  margin-top: 5px;
  border: none;
  padding: 0;

  -webkit-box-shadow: 2px 2px 2px 0px #D5D5D5;
          box-shadow: 2px 2px 2px 0px #D5D5D5;
}
.ui-tabs .ui-tabs-nav {
  border: none;
  padding: 0;
  background: #E1E1E1;

  -webkit-box-shadow: inset 2px 2px 2px 2px #D5D5D5;
          box-shadow: inset 2px 2px 2px 2px #D5D5D5;
}
.ui-tabs .ui-tabs-nav li {
  margin-right: 3px;
}
.ui-tabs .ui-tabs-nav li a {
  color: #656565;
  padding: 0.8em 1em;

  /* Reset border radius */
  -webkit-border-radius: 0;
          border-radius: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  background: #fff;
  margin-top: -5px;
  border-top: 5px solid #fff;
  color: #363636;
  font-weight: bold;
}
.ui-tabs .ui-tabs-panel {
  padding: 1em;
}

/* Other tweaks */
.item-list .pager li {
  padding: 0 0.5em;
}
.view-booking-tickets.party-selection-simple  a {
  color: #000;
}

/* Dashboard Blocks */
.panel-pane.dashboard-block,
.party-view .panel-pane.dashboard-block {
  border: 1px solid #CCCCCC;
  margin: 10px 0 20px;
  padding: 10px;
}

.panel-pane.dashboard-block h2.pane-title,
.party-view .panel-pane.dashboard-block h2.pane-title {
  background: #FFFFFF;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 -10px;
  padding: 0 5px;
  position: relative;
  top: -20px;
}
