/* Layout */
.panel-section-top > .panel-panel {
  float: left;
  min-height: 1em;
  width: 57%;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.panel-section-top > .panel-right {
  margin-left: 3%;
  width: 40%;
  text-align: right;
}
.panel-section-top > .panel-left {
  padding-left: 125px;
}

/* UI */
.link-row-processed {
  cursor: pointer;
}

/* Exposed Forms */
.views-exposed-form .views-exposed-widgets {
  margin-bottom: 0;
}
.views-exposed-form .views-exposed-widget {
  float: none;
  padding: 0;
  margin-top: 0.3em;
  font-size: 1.2em;
}

.views-exposed-form .form-item-search {
  position: relative;
  padding: 0;
}
.views-exposed-form .form-item-search input[type=text] {
  width: 100%;
  font-size: 1.125em;
  height: 2.5em;
  padding: 0.75em;
  border: 1px solid #B2B2B2;
  border-color: rgba(0, 0, 0, 0.4);

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

  -webkit-box-shadow: inset 2px 2px 2px 0x #D5D5D5;
          box-shadow: inset 2px 2px 2px 0px #D5D5D5;
}
.views-exposed-form .form-item-search .field-suffix {
  position: absolute;
  top: 0;
  right: 0;
}
.views-exposed-form .form-item-search .field-suffix:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(./search-icon.png) no-repeat center center;
  pointer-events: none;
}
.views-exposed-form .form-item-search input[type=submit] {
  margin: 0;
  font-size: 1.125em;
  height: 2.5em;
  text-indent: -999em;
  width: 2.5em;
}
.views-exposed-form .form-item-search .field-suffix .ajax-progress {
  font-size: 1.125em;
  position: absolute;
  top: 0;
  right: 2.5em;
  width: 2em;
  bottom: 0;
  z-index: 999;
}
.views-exposed-form .form-item-search .field-suffix .ajax-progress .throbber {
  position: relative;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
}
.views-exposed-form .views-reset-button input {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
}
.views-exposed-form .views-reset-button input:hover,
.views-exposed-form .views-reset-button input:active,
.views-exposed-form .views-reset-button input:focus {
  text-decoration: underline;
}

/* Current Search */
.panel-sidebar .current-search-item-counts {
  font-size: 1.08em;
}
.panel-sidebar .current-search-item-counts:before {
  content: url(./search-icon.png);
  vertical-align: -8px;
  margin-right: 0.2em;
}
.panel-sidebar .current-search-item-active ul {
  overflow: hidden;
  margin: 0;
}
.panel-sidebar .current-search-item-active ul li {
  font-size: 1.08em;
  list-style: none;
  float: left;
  background: #0F7182;
  padding: 0.3em 0.5em;
  margin: 0 0.5em 0.5em 0;
}
.panel-sidebar .current-search-item-active ul li a {
  background: #55C0D3;
  color: #0F7182;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 1.2em;
  height: 1.2em;
  width: 1.2em;
  display: inline-block;
  text-align: center;

  -webkit-border-radius: 5em;
          border-radius: 5em;

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

/* Facets */
.panel-sidebar .pane-facets {
  overflow-y: scroll;

  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

/* View Listings */
.view-party-selection {
  height: 100%;
  position: relative;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.view-party-selection .view-empty {
  padding: 1em;
  background: #fff;
}
.view-party-selection-simple .view-content,
.view-party-selection .view-content-list {
  min-height: 400px;
  border: 1px solid #D5D5D5;
  overflow-y: scroll;
  background: #fff;
}
.view-party-selection .views-row {
  border-top: 1px solid #D5D5D5;
  padding: 0.8em;
  position: relative;
}
.view-party-selection-solr- .view-content .views-row {
  border: none;
}
.view-party-selection-solr- .view-content .view-content-list .views-row {
  border-top: 1px solid #D5D5D5;
}
.view-party-selection .views-row:first-child {
  border-top: none;
}

.view-party-selection .views-row.active,
.view-party-selection .views-row.vbo-row-checked {
  background: #e0e0e0;
  position: relative;
}
.view-party-selection .with-photo .views-row-inner {
  padding-left: 65px;
}
.view-party-selection .with-large-photo .views-row-inner {
  padding-left: 95px;
}
.view-party-selection .with-photo .row-photo {
  float: left;
  margin-left: -65px;
}
.view-party-selection .with-large-photo .row-photo {
  float: left;
  margin-left: -95px;
}
.view-party-selection .views-field-label {
  margin: 0;
  padding-top: 0.5em;
}
.view-party-selection .views-field-party-hat {
  font-size: 0.85em;
  color: #666;
}
.view-party-selection .views-field-pid,
.view-party-selection .party-id {
  float: right;
  margin: 0 0 0.3em 0.5em;
}

/*.view-party-selection .item-list {
  border: 1px solid #D5D5D5;
  border-top: none;
  background: #fff;
}*/

/* Simple Listing */
.view-party-selection-simple {
  margin: 15px;
  border: 1px solid #B2B2B2;
  border-color: rgba(0, 0, 0, 0.4);
  color: #363636;
  width: auto !important;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.view-party-selection-simple .party-id {
  font-size: 0.8em;
}
.main .sidebar-first .view-party-selection-simple a {
  color: #0F7182;
}

/* VBO */
.view-party-selection .vbo-views-form .views-row {
  padding-left: 2.3em;
}
.view-party-selection .vbo-views-form .views-row .form-item {
  position: absolute;
  left: -90px;
  top: 50%;
  margin-top: -10px;
}
.view-party-selection .vbo-fieldset-select-all .form-item {
  display: inline-block;
}

.view-party-selection .vbo-views-form fieldset.form-wrapper {
  border: none;
  margin: 0.3em 0;
}
.view-party-selection .vbo-views-form fieldset#edit-select {
  margin: 0 0 1em;
}
.view-party-selection .vbo-views-form fieldset.vbo-fieldset-select-all {
  padding-left: 0.8em;
  padding-right: 0.8em;
}
.view-party-selection .vbo-views-form fieldset.vbo-fieldset-select-all em:after {
  content: "\00a0";
}

.view-party-selection .vbo-select-all-markup {
  background: #E1E1E1;
  border: 1px solid #D5D5D5;
  border-bottom: none;
  font-size: 1.1em;

  -webkit-box-shadow: inset 0px 4px 4px 0px #D5D5D5;
          box-shadow: inset 0px 4px 4px 0px #D5D5D5;
}

.view-party-selection .vbo-views-form .form-actions {
  margin: 0;
}


/* View Party */

}
.panel-section-top .panel-left .field-type-image img {
  display: block;
}

#tabs-mini-panel-party_view {
  width: 100%;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  /* Old Style */
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
     -moz-box-orient: vertical;
          box-orient: vertical;
  -webkit-box-align: stretch;
     -moz-box-align: stretch;
          box-align: stretch;

  /* New Style */
  /*display: -webkit-flex;*/
  display: -moz-flex;
  display: flex;
  -webkit-flex-orient: vertical;
     -moz-flex-orient: vertical;
          flex-orient: vertical;
  -webkit-flex-align: stretch;
     -moz-flex-align: stretch;
          flex-align: stretch;
}
#tabs-mini-panel-party_view,
#tabs-mini-panel-party_view .ui-tabs-panel {
  /* Old Style */
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
          box-flex: 1;

  /* New Style */
  -webkit-flex: 1;
     -moz-flex: 1;
          flex: 1;
}
#tabs-mini-panel-party_view .ui-tabs-panel {
  overflow-y: scroll;
}







.party-dashboard .views-exposed-form .views-submit-button {
  margin: 0;
}
.party-dashboard .views-exposed-form .views-submit-button .ajax-progress {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.party-dashboard .views-exposed-form .views-submit-button .ajax-progress .throbber {
  position: relative;
  top: 50%;
  left: 50%;
  margin: 0 0 -5px -5px;
}
.party-dashboard .views-exposed-form label {
  width: 90px;
  display: inline-block;
}
.party-dashboard .views-exposed-form .views-widget select {
  width: 100%;
}
.party-dashboard .views-exposed-form .views-widget-filter-label .views-widget {
  width: auto;
}
.party-dashboard  .views-exposed-form .form-item {
  padding: 0 !important;
}
.party-dashboard .views-exposed-form .form-item-search {
  margin-top: 0.5em;
  padding-bottom: 0;
}
.party-dashboard






.view-party-selection .views-row .ajax-progress {
  position: absolute;
  bottom: -0.2em;
  left: 0;
  line-height: 0.85em;
}

/* Styling of view */

.party-view > .panel-section-top {
  padding-bottom: 1em;
}

.party-view .inline-panel .pane-title,
.party-view > .panel-section-top .pane-title {
  font-size: inherit;
  display: inline;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
}
.party-view > .panel-section-top .pane-title {
  font-weight: inherit;
}
.party-view .inline-panel .pane-content,
.party-view > .panel-section-top .pane-content {
  display: inline;
}

.party-view > .panel-section-top .pane-party-label {
  font-size: 2em;
  padding-top: 0.5em;
  font-weight: bold;
}

#mini-panel-party_view .field-label-inline .field-label,
#mini-panel-party_view .field-label-inline .field-items,
#mini-panel-party_view .field-label-inline .field-item {
  float: none;
  display: inline;
}
#mini-panel-party_view .field-label-inline .field-item + .field-item:before {
  content: ", ";
}

/* VBO Styling */

.view-party-selection .vbo-fieldset-select-all {
  text-align: left;
  width: auto;
  padding: 0;
}

.view-party-selection form.vbo-action-form {
  padding: 1em;
}

/* Forms */

input.form-text {
  border-top: 2px solid #AAAAAA !important;
  border-left: 2px solid #AAAAAA !important;
}

/* Views Image Float */
/*view
.views-row {clear:both;margin-left:100px;height:100px;}
.views-field-field-individual-photo{margin-left:-100px;float:left;}
.pane-custom.pane-1{margin-top:15px;padding-bottom:5px;}
.panel-sidebar.sidebar-first{height:750px;}
*/

.views-exposed-form .views-exposed-widget {
  clear:both;
}

.views-row {
  clear:both;
  margin-left:100px;
  height:100px;
}

.views-field-field-individual-photo {
    margin-left: -90px;
    float: left;
  }

.views-field-views-bulk-operations{margin-left:-140px;float:left;}
.views-widget-filter-field_individual_nationality_tid input{width:100%}
.panel-sidebar.sidebar-first{height:780px;}

.view-party-selection ul.pager a{
  color: #0F7182;
}

.view-party-selection ul.pager {
  color: #000000;
}
