body #content {
  padding: 0;
}

.page-admin-party #branding .branding-main {
  padding-left: 155px;
}
.page-admin-party .breadcrumb {
  margin-left: -125px;
}
.page-admin-booking #branding .branding-main {
  padding-left: 200px;
}
.page-admin-booking .breadcrumb {
  margin-left: -170px;
}

body .main .sidebar-first {
  padding: 0;
}
.main .sidebar-first > .panel-pane > .pane-content {
  padding: 0 15px;
}

.main .sidebar-first .panel-pane.highlight {
  background: #83D4E3;
  padding-top: 15px;
  padding-bottom: 15px;
}
.main .sidebar-first .panel-pane.highlight + .highlight {
  padding-top: 0;
}
