body #content {
  padding: 0;
}

body .main .sidebar-first {
  padding: 0;
}
.main .sidebar-first > .panel-pane > .pane-content {
  padding: 0 15px;
}

.main .sidebar-first .panel-pane.highlight {
  background: #83D4E3;
  padding-top: 15px;
  padding-bottom: 15px;
}
.main .sidebar-first .panel-pane.highlight + .highlight {
  padding-top: 0;
}
