.panel-display {
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21+ */
  display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

  -webkit-box-orient: horizontal;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  -moz-box-orient: horizontal;      /* OLD: Firefox (buggy) */
  -ms-flex-direction: row;     /* MID: IE 10 */
  -webkit-flex-direction: row; /* NEW, Chrome 21+ */
  flex-direction: row;         /* NEW: Opera 12.1, Firefox 22+ */

  margin: 0;
  height: 100%;
  width: 100% /* needed for Firefox */
}

.panel-display > .content {
  -webkit-box-flex: 1;  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  -moz-box-flex: 1;     /* OLD: Firefox (buggy) */
  -ms-flex: 1;          /* MID: IE 10 */
  -webkit-flex: 1;      /* NEW, Chrome 21+ */
  flex: 1;              /* NEW: Opera 12.1, Firefox 22+ */
}

.panel-display > .sidebar-old {
  display: block;

  -webkit-box-ordinal: 99;  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  -moz-box-ordinal: 99;     /* OLD: Firefox (buggy) */
  -ms-flex-order: 99;       /* MID: IE 10 */
  -webkit-order: 99;        /* NEW, Chrome 21+ */
  order: 99;                /* NEW: Opera 12.1, Firefox 22+ */
}
